<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-8">
                        
                    </div>
                    <div class="col-md-4 text-right">
                        <button class="btn pull-right btn-primary" data-toggle="modal" data-target="#myModal"><i
                                class="fa fa-plus"></i>
                            Add team
                        </button><br>
                    </div>
                </div><br><br>

                <!--MODAL PARA AGREGAR UN NUEVO TEAM -->
                <app-add-team (refreshTable)="onRefreshTable()" ></app-add-team>

                <!--TABLE TEAMS -->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let teams of listaTeams">
                                <td>{{teams.name}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>