<div id="main-wrapper">

  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <!-- Logo icon --><b>
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="./assets/images/logo-icon.png" alt="" class="dark-logo" />
            <!-- Light Logo icon -->
            <img src="" alt="" class="light-logo" />
          </b>
          <!--End Logo icon -->
          <!-- Logo text --><span>
            <!-- dark Logo text -->
            <img src="" alt="" class="dark-logo" />
            <!-- Light Logo text -->
            <img src="" class="light-logo" alt="" /></span> </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav mr-auto">
          <!-- This is  -->
          <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
              href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
          <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
              href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
          <li class="nav-item hidden-sm-down"></li>
        </ul>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <ul class="navbar-nav my-lg-0">


          <!-- ============================================================== -->
          <!-- Profile -->
          <!-- ============================================================== -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><img src="./assets/images/users/1.jpg" alt="user"
                class="profile-pic" /></a>
            <div class="dropdown-menu dropdown-menu-right animated fideIn">
              <ul class="dropdown-user">
                <li>
                  <div class="dw-user-box">
                    <div class="u-img"><img src="./assets/images/users/1.jpg" alt="user"></div>
                    <div class="u-text">
                      <h4>Steave Jobs</h4>
                      <p class="text-muted"></p><a href="pages-profile.html"
                        class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                    </div>
                  </div>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->

  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">

          <li class="nav-item"><a class="nav-link" href="teams">TEAMS</a></li>
          <li class="nav-item"><a class="nav-link" href="standings">STANDINGS</a></li>

        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->


  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs -->

      <!-- Mi sistema de rutas -->

      <router-outlet></router-outlet>

      <!-- <div class="row">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body">



                      </div>
                  </div>
              </div>
          </div> -->

    </div>

    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      Copyright © 20XX Todos los derechos reservados | Admin Pro
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->

  </div>


</div>